/*@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:wght@500&display=swap');*/

header {
    background: url(images/universe.jpg) no-repeat;
    background-size: contain;
    background-position: center;
    height: 400px;
    padding-left: 100px;
    font-weight: bold;
    font-family: 'Wix Madefor Text', Arial, Helvetica, sans-serif;
    color: rgb(143, 188, 143);
    text-align: center;
    font-size: 39px;
    margin-bottom: 20px;
}

nav {
    background-color: rgb(135, 206, 250);
    height: 100px;
    text-align: center;
    padding-top: 2px;
}

.lol {
    display: flex;
    justify-content: center;
    align-items: center;
}

.caption {
    text-align: left;
    margin-top: 10px;
    margin-left: 140px;
    color: black;
    padding: 5px 10px;
}

main #album {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 500px;
    margin-left: 400px;
}

main #album .photo {
    position: relative;
    flex-basis: calc(50% - 10px);
    margin-bottom: 20px;
    box-sizing: border-box;
}

main #album .photo img {
    width: 400px;
    height: auto;
}

.photo {
    position: relative;
}

.description {

    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.70);
    color: black;
    padding: 10px;
    font-size: 14px;
    display: none;
    text-align: center;
}

.main #album .photo:hover .description {
    display: block;
    cursor: pointer;
}


.info-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    max-width: 400px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.close-button {
    display: block;
    text-align: right;
    margin-bottom: 10px;
    color: #888;
    text-decoration: none;
}

.close-button:hover {
    color: #555;
}

.info-box h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.info-box p {
    font-size: 16px;
    line-height: 1.5;
}
